* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    
}

body {
    font-size: 1.1em;
}

.fist {
    width: 100%;
    min-height: 25px;
    margin: 0 auto;
}

.fist>ul {
    text-align: center;
}

marquee {
    color: rgb(248, 6, 6);
}

.fist ul li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}

.fist ul li a {
    text-decoration: none;
    color: black;
    display: block;
    line-height: 25px;
}

/*đầu*/


.header {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    /* background-color: rgb(53, 163, 86); */
}

.header>.sp>a>img {
    width: 50%;
}

.menu {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(62, 103, 179);
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding-left: 50px;

}

.menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    line-height: 40px;
}

.menu>ul {
    text-align: center;
}

.menu ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: green;
}

.header .sp {
    line-height: 90px;
    text-align: center;
}

.header>.sp>a {
    float: left;
    padding-left: 50px;
}

.boxcenter {
    width: 70%;
    margin: 0 auto;
}

.slide {
    min-height: 250px;
}

/**/
.slide>a>img {
    width: 100%;
    border-radius: 10px;
}

.content {
    min-height: 220px;
    border-radius: 10px;
    border: 1px solid rgb(155, 154, 154);
}

.content>.noidung>a>img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(2.5);
}

.tieude {
    width: 100%;
    min-height: 30px;
    float: left;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(218, 212, 212);
}

.tieude>a {
    text-decoration: none;
}

.mo {
    padding-right: 230px;
}

.tieude>ul>li {
    list-style: none;
    display: inline-block;
    padding-left: 4px;
    font-size: 0.7rem;
}

.tieude>ul>li>a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    line-height: 30px;
}

.tieude>ul>li>a:hover {
    color: red;
}

.tieude ul .mo {
    font-size: 1rem;
}

.noidung {
    width: 25%;
    min-height: 195px;
    float: left;
}

.noidung>a>img {
    margin: 10px;
    width: 40%;
    float: left;
}

.noidung>a {
    padding-top: 10px;
    text-decoration: none;
}

.noidung>a:hover {
    color: orangered;
}

.footer {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    /* background-color: rgb(136, 74, 115); */
}

.grid_row .grid_column-20{
    float: left;
    width: 25%;
    
}
.footer-list> li{
    list-style-type: none;
}
.footer-list> li> a{
    text-decoration: none;
    color: rgb(43, 42, 42);
    font-size: 1rem;
}

p {
    margin-top: 10px;
    font-size: 0.9rem;
}

.mb {
    margin-bottom: 10px;
}

.mr {
    margin-right: 10px;
}